<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for @trip do |f| %>
        <%= f.error_notification %>

        <%= f.input :name %>

        <%= f.fields_for :hometowns do |ff| %>
          <% 10.times do |i| %>

          <div class="row hometown" style="display: <%= i.zero? ? 'block' : 'none'; %>">
            <div class="col-md-5">
              <%= ff.input :city, input_html: { name: "trip[hometowns][#{i}][city]" } %>
            </div>
            <div class="col-md-2">
              <%= ff.input :travellers, input_html: { type: "hidden", name: "trip[hometowns][#{i}][number_traveller]", class: "js-input" } %>
              <div style="display: flex;">
              <button type="button" class="js-minus">-</button>
              <a class="js-counter">0</a></p>
              <button type="button" class="js-plus">+</button>
              </div>
            </div>

            <div class="col-md-2">
              <%= ff.input :date_from, as: :string, required: false, input_html: {name: "trip[hometowns][#{i}][date_from]", id: "start_date#{i}"} %>
            </div>

              <div class="col-md-2">
              <%= ff.input :date_to, as: :string, required: false, input_html: {name: "trip[hometowns][#{i}][date_to]", id: "end_date#{i}"} %>
            </div>
          </div>
          <% end %>
        <% end %>


     <div style="display: flex;">
      <div class="btn-one">
      <div class="btn-primary" id="remove-extra-field" style="width: 55px; text-align: center;">-</div>
       </div>
        <br>
        <div class="btn-two">
       <div class="btn-primary" id="add-extra-field" style="width: 55px; text-align: center;">+</div>
      </div>
     </div>

        <br>

        <%= f.submit "Get results", class: "btn-primary" %>

      <% end %>

    </div>
  </div>

</div>
