<h4 style="margin-left: 15px"> These are the cheapeast cities for your trip! </h4>
<div class="show-page">
  <div class="container results">
    <div class="accordion" id="accordionExample">
      <% @results.each do |key, value| %>
      <div class="card">
        <div class="card-header" id="heading<%= key %>">
          <div class="trip-details">
          <h5 class="mb-0">
            <%= Trip.airport_by_iata(key)["city"] %>, <%= Trip.airport_by_iata(key)['country'] %> <br>
          </h5>
           <h6> Average price per person: <%= value[0].round %>€ </h6>
          </div>
          <div id="number-flights">
          <p>See <%= @hometowns.length %> flights</p>
          </div>
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne<%= key %>" aria-expanded="false" aria-controls="collapseOne<%= key %>">
            <div class="arrow-down"></div>
          </button>
        </div>

        <div id="collapseOne<%= key %>" class="collapse" aria-labelledby="heading<%= key %>" data-parent="#accordionExample">
          <div class="card-body">

            <div class="flights">
              <h4>Flights to <%= Trip.airport_by_iata(key)["city"] %>, <%= Trip.airport_by_iata(key)['country'] %>:</h4>

              <ul>
                <% value[1].each do |flight| %>
                <li>
                  From <%= Trip.airport_by_iata(flight['flyFrom'])["city"] %>: <%= flight['price'] %>€
                  <div class="flightdetails">
                    <ul>
                      <li> Outbound flight:

                        <%= Time.at(flight['route'][0]['dTimeUTC']).strftime("%H:%M")%> - <%= Time.at(flight['route'][0]['aTimeUTC']).strftime("%H:%M")%> Airline: <%= @airlines["response"].select{|airport| airport["iata_code"] == flight['route'][0]['airline'] }[0]["name"] %> Flight number: <%= flight['route'][0]['airline'] %> <%= flight['route'][0]['flight_no'] %>

                      </li>

                      <li> Return flight:

                        <%= Time.at(flight['route'][1]['dTimeUTC']).strftime("%H:%M")%> - <%= Time.at(flight['route'][1]['aTimeUTC']).strftime("%H:%M")%> Airline: <%= @airlines["response"].select{|airport| airport["iata_code"] == flight['route'][1]['airline'] }[0]["name"] %>

                        Flight number: <%= flight['route'][1]['airline'] %> <%= flight['route'][1]['flight_no'] %>
                      </li>
                    </ul>
                    <a class="button-flyingpengu" href="<%= flight['deep_link'] %>" role="button" target="_blank">Book now!</a>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>

      </div>
      <% end %>
    </div>
    <%= link_to "Search again", new_trip_path %>

    <%= form_tag("/send-email/#{@trip.id}", :method => :get) do%>
    <%= hidden_field_tag :trip_id, @trip.id %>

     <%= text_field_tag 'email', "", placeholder: "Enter your friend's email"%>
    <%= submit_tag "Send",:value => "Send", class: "button-flyingpengu far fa-envelope" %>

    <%end%>

  </div>

  <div
  id="map"
  style="width: 50%;
  height: 85vh; margin-top: 10px; "
  data-destination="<%= @destinationMarkers.to_json %>"
  data-hometown="<%= @hometownMarkers.to_json %>"
  ></div>
</div>













