<%= "These are the cheapeast cities for your trip!" %>
<% results = @trip.best_city.first(5) %>
<div class="container results">
<div class="accordion" id="accordionExample">
  <% results.each do |key, value| %>
      <div class="card">

    <div class="card-header" id="heading<%= key %>">
      <h5 class="mb-0">
          <%= @airports[key]["city"] %>, <%= @airports[key]['country'] %> <br>
          Average price: <%= value[0].round %>€
      </h5>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne<%= key %>" aria-expanded="false" aria-controls="collapseOne<%= key %>">
          <div class="arrow-down"></div>
        </button>
    </div>

    <div id="collapseOne<%= key %>" class="collapse" aria-labelledby="heading<%= key %>" data-parent="#accordionExample">
      <div class="card-body">
        <div class="flights">
        <h4>Flights to <%= @airports[key]["city"] %>, <%= @airports[key]['country'] %>:</h4>
        <ul>
        <% value[1].each do |flight| %>
        <li>
          From <%= @airports[flight['flyFrom']]["city"] %>: <%= flight['price'] %>€
        <div class="flightdetails">
          <ul>
            <li> Outbound flight: <%= Time.at(flight['route'][0]['dTimeUTC']).strftime("%H:%M")%> - <%= Time.at(flight['route'][0]['aTimeUTC']).strftime("%H:%M")%> Airline: <%= flight['route'][0]['airline'] %> Flight number: <%= flight['route'][0]['airline'] %> <%= flight['route'][0]['flight_no'] %>  </li>
            <li> Return flight: <%= Time.at(flight['route'][1]['dTimeUTC']).strftime("%H:%M")%> - <%= Time.at(flight['route'][1]['aTimeUTC']).strftime("%H:%M")%> Airline: <%= flight['route'][1]['airline'] %> Flight number: <%= flight['route'][1]['airline'] %> <%= flight['route'][1]['flight_no'] %>  </li>
          </ul>
          <a class="button-flyingpengu" href="<%= flight['deep_link'] %>" role="button" target="_blank">Book now!</a>
        </div>
        </li>
        <% end %>
        </ul>
        </div>

      </div>
    </div>

    </div>
    <% end %>
  </div>
  </div>



