<h4 style="margin-left: 15px"> These are the best destinations we could find for your trip! </h4>
<div class="show-page">
  <div class="container results">
    <div class="accordion" id="accordionExample">
      <% @results.each do |key, value| %>
      <div class="card">
        <div class="card-header" id="heading<%= key %>">
          <div class="trip-details">
          <span>
          <h5 class="mb-0">
            <%= Trip.airport_by_iata(key)["city"] %>, <%= Trip.airport_by_iata(key)['country'] %> <br>
          </h5>
          </span>
          <span id="flight-price">
           <h6> Average price per person: </h6> <h6 id="price"> <%= value[0].round %>€ </h6>
          </span>
          </div>
          <div id="number-flights">
          <p>See <%= @hometowns.length %> flights</p>
          </div>
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne<%= key %>" aria-expanded="false" aria-controls="collapseOne<%= key %>">
            <div class="arrow-down"></div>
          </button>
        </div>

        <div id="collapseOne<%= key %>" class="collapse" aria-labelledby="heading<%= key %>" data-parent="#accordionExample">
          <div class="card-body" id="flightcard">

            <div class="flights">

                <% value[1].each do |flight| %>
                <% outbound_flight = [] %>
                <% return_flight = [] %>
                <% flight['route'].each do |leg| %>
                <% leg['return'] == 0 ? outbound_flight << leg : return_flight << leg %>
                <% end %>
              <div class="flight">

                <div class="flight-general">
                  <span>
                  <h5> From <%= Trip.airport_by_iata(flight['flyFrom'])["city"] %>:</h5>
                  </span>
                  <span>
                  <h4><%= flight['price'] %>€ </h4>
                  </span>
                </div>
                  <div class="flightdetails">
                    <div class="outbound">
                  <h5> Outbound flight on <%= Time.at(outbound_flight.first['aTimeUTC']).strftime("%d.%m.%y")%>: </h5>

                     <p><%= Time.at(outbound_flight.first['dTimeUTC']).strftime("%H:%M")%> - <%= Time.at(outbound_flight.last['aTimeUTC']).strftime("%H:%M")%> Airline: <%= @airlines["response"].select{|airport| airport["iata_code"] == flight['route'][0]['airline'] }[0]["name"] %> Flight number: <%= flight['route'][0]['airline'] %> <%= flight['route'][0]['flight_no'] %></p>
                      </div>
                    <div class="return">
                 <h5> Return flight on <%= Time.at(return_flight.first['aTimeUTC']).strftime("%d.%m.%y")%>: </h5>
                     <p> <%= Time.at(return_flight.first['dTimeUTC']).strftime("%H:%M")%> - <%= Time.at(return_flight.last['aTimeUTC']).strftime("%H:%M")%> Airline: <%= @airlines["response"].select{|airport| airport["iata_code"] == flight['route'][1]['airline'] }[0]["name"] %> Flight number: <%= flight['route'][1]['airline'] %> <%= flight['route'][1]['flight_no'] %> </p>
                      </div>
                  </div>
                    <div class="book-now-button">
                    <a class="button-flyingpengu" href="<%= flight['deep_link'] %>" role="button" target="_blank">Book now!</a>
                    </div>
              </div>
                <% end %>
            </div>

          </div>
        </div>

      </div>
      <% end %>
    </div>
    <div class="search-again">
    <a class="button-flyingpengu" role="button" <%= link_to "Search again", new_trip_path %> </a>
</div>
  </div>

  <div
  id="map"
  data-destination="<%= @destinationMarkers.to_json %>"
  data-hometown="<%= @hometownMarkers.to_json %>"
  ></div>
</div>












