

<%= "These are the cheapeast cities for your trip!" %>
<% results = @trip.best_city.first(5) %>
<div class="container results">
<div class="accordion" id="accordionExample">
  <% results.each do |key, value| %>
      <div class="card">

    <div class="card-header" id="heading<%= key %>">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne<%= key %>" aria-expanded="false" aria-controls="collapseOne<%= key %>">
          <%= key %> Average price: <%= value[0].round %>
        </button>
      </h5>
    </div>

    <div id="collapseOne<%= key %>" class="collapse" aria-labelledby="heading<%= key %>" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>

    </div>
    <% end %>
  </div>
  </div>





