<h1>FlyingPengu</h1>

<p>
  <%= p "The trip " %><%= p @trip.name %><%= p " is being shared with you." %>
  <%= p "To check the group details of the flight" %>
  <%= p "click here:" %>
  <%= p "http://www.flyingpengu.com" + @path %>


  Your Friend has shared the flight details.
  Enjoy your journey with friends.

  On behave of the amazing team at FlyingPengu.com,

  we wish you a pleasant trip.


  For more info about FlyingPengu,
  we can be reached at contact@flyingpengu.com. We will reply as soon as possible.

  Thank you for being part of our community,
  <%= p @email %>
</p>
