<h1>User#share</h1>

<p>
<%= p "this is the link" %>
  <%= p "http://www.flyingpengu.com" + @path %>

  <%= p "this is the trips name" %>
  <%= p @trip.name %>

  <%= p @email %>


  <%#= @url %>,

  Your Friend is sharing the search details of the group trip

  <!-- find me in app/views/user_mailer/share.html.erb -->
</p>
